{% extends 'base.html' %} 
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrow Book</title>
 
</head>
<body>
    <h1>Borrow Book</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <p>Are you sure you want to borrow <strong>{{ book.title }}</strong> for {{ book.borrowing_price }} Taka?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirm</button>
    <a href="{% url 'book_detail' %}">Back to Book Details</a>
    </form>
    <a href="{% url 'profile' %}">My Profile</a>
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>
