{% extends 'base.html' %} 
{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
  
</head>
<body>
    <h1>My Profile</h1>
    <p>Username: {{ request.user.username }}</p>
    <p>Balance: {{ request.user.userprofile.balance }} Taka</p>

    <h2>Borrowing History</h2>
    <ul>
        {% for borrowed_book in borrowed_books %}
            <li>
                <strong>{{ borrowed_book.book.title }}</strong>
                <p>Borrowed at: {{ borrowed_book.borrowed_at }}</p>
                {% if borrowed_book.returned_at %}
                    <p>Returned at: {{ borrowed_book.returned_at }}</p>
                {% else %}
                    <form method="post" action="{% url 'return_book' %}">
                        {% csrf_token %}
                        <button type="submit">Return</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

</body>
</html>
